body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #1e3c72, #2a5298);
    color:white;
    margin:0;
    padding:0;
    min-height: 100vh;
}

input {
    padding:20px;
    font-size: 1rem;
    border-radius: 8px;
    border:none;
    margin-top: 10px;
    margin-left: 10px;
    width: 60%;
    max-width: 400px;
}

form {
    margin: 20px auto;
    text-align: center;
}


.guessgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: gray;
    text-align: center;
    justify-content: center;
    gap:10px;
    align-items: stretch;
}

.guessgridHOI {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: gray;
    text-align: center;
    justify-content: center;
    gap:10px;
    align-items: stretch;
}

.guessgrid img {
    width: 40px;
    height: 40px;
    display: auto;
    margin: auto;
    padding: auto;
    align-items: center;
}

.guessblock,
.guessblock2,
.guessblockhigher,
.guessblocklower {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.guessblockbase {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 0.1);
}


.guessblock:hover, .guessblock2:hover, .guessblockhigher:hover, .guessblocklower:hover {
    background-color: rgba(0,0,0,0.25);
    transition: 0.5s;
}

.winpopup {
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

    background-color: rgba(0,0,0,0.1);
    color:black;

    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.winpopup.open {

    opacity: 1;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popupbox {
    background-color: aliceblue;
    border: 5px solid black;
    padding: 30px;
    box-shadow: 0, 0, 10px, rgba(0,0,0,0.25);
    border-radius: 10px;
    gap:10px;
    transition: opacity 0.3s ease-in-out;
}

.popupbox form input {
    background-color: rgba(0,0,0,0.25);
    bottom: 10px;
    border-color: black;
    position: flex;
    margin: 15px;
    width: 100%;
}

.popupbox form button {
    background-color: rgba(0,0,0,0.1);
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 20px 15px;
    transition-duration: 0.1s;
}

.popupbox form button:hover{
    background-color: rgba(0,0,0,0.25);
}

.p-menubar {
    background-color: gray;
    align-items: center;
    padding:20px;
    display: flex;
    justify-content: flex-start;
    position:relative;
}

.p-menuitem {
    margin-right:50px ;
}