body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #1e3c72, #2a5298);
    color:white;
    margin:0;
    padding:0;
    min-height: 100vh;
}

input {
    padding:10px;
    font-size: 1rem;
    border-radius: 8px;
    border:none;
    margin-top: 10px;
    width: 60%;
    max-width: 400px;
}

form {
    margin: 20px auto;
    text-align: center;
}


.guessgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: gray;
    text-align: center;
    justify-content: center;
    gap:10px;
}

.guessgridHOI {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: gray;
    text-align: center;
    justify-content: center;
    gap:10px
}

.guessgrid img {
    width: 40px;
    height: 40px;
    display: auto;
    margin: auto;
    padding: auto;
    align-items: center;
}

.guessblock {
    display:flexbox;
    background-color: rgba(255,255,255,0.1);
    margin:10px;
    text-transform: uppercase;
    text-align: center;
    grid-template-columns: auto;
    border:2px solid red;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

.guessblock:hover {
    background-color: rgba(0,0,0,0.25);
    transition: 0.5s;
}

.guessblock2 {
    display:flexbox;
    background-color: rgba(255,255,255,0.1);
    margin:10px;
    text-transform: uppercase;
    text-align: center;
    grid-template-columns: auto;
    border:2px solid green;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

.guessblock2:hover {
    background-color: rgba(0,0,0,0.25);
    transition: 0.5s;
}

.guessblockhigher {
    display:flexbox;
    margin:10px;
    text-transform: uppercase;
    text-align: center;
    grid-template-columns: auto;
    border:2px solid white;
    border-radius: 5px;
    padding: 10px;
}

.guessblockhigher:hover {
    background-color: rgba(0,0,0,0.25);
    transition: 0.5s;
}

.guessblocklower {
    display:flexbox;
    margin:10px;
    text-transform: uppercase;
    text-align: center;
    grid-template-columns: auto;
    border:2px solid black;
    border-radius: 5px;
}

.guessblocklower:hover {
    background-color: rgba(0,0,0,0.25);
    transition: 0.5s;
}

.winpopup {
    opacity: 0;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

    background-color: rgba(0,0,0,0.1);

    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.winpopup.open {

    opacity: 1;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popupbox {
    background-color: aliceblue;
    border: 5px solid black;
    padding: 30px;
    box-shadow: 0, 0, 10px, rgba(0,0,0,0.25);
    border-radius: 10px;
    gap:10px;
    transition: opacity 0.3s ease-in-out;
}

.p-menubar {
    background-color: gray;
    align-items: center;
    padding:20px;
    display: flex;
    justify-content: flex-start;
    position:relative;
}

.p-menuitem {
    margin-right:50px ;
}